/* Eléments principaux du site */ 
.footer{
  max-width: 2560px;
  background: $colour-background-footer;
  min-height: 120px;
  color: $colour-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
    &__width{
      margin: auto;
      max-width: 1024px;
      width: 100%;
      justify-content: flex-start ;
    }
    &__titre{
      @include font2;
      h1{
        font-family: "shrikhand";
        font-weight: normal;
      }
      }
      &__ul ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        padding-left: 0px;
      }
      &__ul a{
        text-decoration: none;
        color: $colour-background;
      }
      &__ul a:hover{
        text-decoration: underline;
      }
}