/* Eléments principaux du site */
body{
  font-family: "roboto";
  margin: auto;
}
main{
      max-width: 1024px;
      margin: auto;
}
.header{
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
    &__logo h1{
      font-family: "shrikhand";
      font-size: 3rem;
    }
    a{
      padding-right: 20px;
    }
    i{
      color: $colour-background-footer;
      font-size: 1.4rem;
    }
    i:hover{
      color: $colour-tertiary;
      }
}
.footer{
  max-width: 2560px;
  background: $colour-background-footer;
  min-height: 120px;
  color: $colour-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
    &__width{
      margin: auto;
      max-width: 1024px;
      width: 100%;
      justify-content: flex-start ;
    }
    &__titre{
      font-size: 0.8rem;
      h1{
        font-family: "shrikhand";
        font-weight: normal;
      }
      }
      &__ul ul{
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        align-items: center;
        padding-left: 0px;
      }
      &__ul a{
        text-decoration: none;
        color: $colour-background;
      }
      &__ul a:hover{
        text-decoration: underline;
      }
}
/* Fin éléments principaux du site */ 

