@charset "UTF-8";
/* Définition des polices personnalisées */
@font-face {
  font-family: "shrikhand";
  src: url("./polices/shrikhand/Shrikhand-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("./polices/roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
/* Fin des polices personnalisées */
/* Définition des couleurs */
/* Fin définition des couleurs */
/* Définition effet apparition menu */
/* Fin définition effet apparition menu */
/* Définition shadow */
/* Fin définition shadow */
/* Définition effet apparition menu */
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Fin définition effet apparition menu */
/* Définition effet déplacement check */
@keyframes deplacement {
  from {
    opacity: 0;
    transform: translateX(60px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Fin définition déplacement check */
/*Définition rotation check */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Fin définition rotation check */
/* Spinner */
@keyframes waiting {
  0% {
    border-radius: 30px 0 0 0;
  }
  10% {
    border-radius: 0 30px 0 0;
  }
  20% {
    border-radius: 0 0 30px 0;
  }
  30% {
    border-radius: 0 0 0 30px;
  }
  40% {
    border-radius: 30px 0 0 0;
  }
  50% {
    border-radius: 0 30px 0 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
/* Fin spinner */
.sectionNav__Ul a:hover {
  background: #fde5f6;
}
.sectionNav__Ul a:hover .li__Icone i {
  color: #9356DC;
}

/* Effet 3 petits points */
.ellips {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Fin effet 3 petits points */
/* Coeur page accueil */
.coeur__Start {
  position: absolute;
  right: 0px;
  font-size: 1.2rem;
}

.coeur__end {
  position: absolute;
  right: 0px;
  font-size: 1.2rem;
  color: #FF79DA;
  opacity: 0;
}

.coeur__end:hover {
  z-index: 1;
  opacity: 1;
  transition: 400ms 0.1s;
}

/* Fin coeur page accueil */
/* Coeur page menu */
.coeur__StartUn {
  position: absolute;
  right: 29px;
  font-size: 1.4rem;
}

.coeur__endDeux {
  position: absolute;
  right: 29px;
  font-size: 1.4rem;
  color: #FF79DA;
  opacity: 0;
}

.coeur__endDeux:hover {
  z-index: 1;
  opacity: 1;
  transition: 400ms 0.1s;
}

/* Fin coeur page menu */
/* Load spinner */
.spinner {
  width: 44px;
  height: 44px;
  border: 8px solid #99E2D0;
  border-radius: 30px 0 0 0;
  animation: 4s waiting 0.4s forwards;
  transition: border-radius;
  position: absolute;
  zoom: 3;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  zoom: 4;
  -moz-transform: translate(-50%, -50%) scale(4);
  /*Firefox*/
}

.spinner:after {
  content: "Loading";
  color: #99E2D0;
  position: absolute;
  bottom: -34px;
  left: -8px;
  width: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

/* Fin load spinner */
/* Apparition défilement menu */
.coussin1 {
  animation: apparition 2s 0.4s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}

.coussin2 {
  animation: apparition 2s 0.6s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}

.coussin3 {
  animation: apparition 2s 0.8s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}

.coussin4 {
  animation: apparition 2s 1s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}

.none {
  opacity: 0;
}

/* Fin défilement menu */
/* Bouton */
.btnPrimary {
  width: 300px;
  height: 50px;
  cursor: pointer;
  border-style: none;
  background: -webkit-linear-gradient(280deg, #FF79DA, #9356DC);
  box-shadow: 10px 10px 10px #cccccc;
  border-radius: 30px;
  color: white;
  font-size: 1.2rem;
}
.btnPrimary:hover {
  background: -webkit-linear-gradient(280deg, #f587d5, #9963d1);
  transform: scale(1.01);
  transition: transform 450ms, background 300ms 150ms;
}

/*Fin bouton */
/* Bouton check Menu */
.btnRotation {
  cursor: pointer;
  width: 60px;
  height: 70px;
  border-radius: 0px 20px 20px 0px;
  font-size: 1.2rem;
  color: white;
  background: #99E2D0;
  border-style: none;
  display: none;
}

.sectionMenu__article a:hover .btnRotation {
  display: block;
  animation: deplacement 0.6s 0s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.sectionMenu__article a:hover .btnRotation i {
  animation: rotation 0.6s 0s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
}
.sectionMenu__article a:hover .sectionMenu__article__plat__wrap {
  width: 190px;
}

/* Fin bouton check menu */
/* Nouveau Restaurant */
.newRelative {
  position: relative;
}
.newRelative .new {
  position: absolute;
  border: 2px solid #99E2D0;
  background: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  top: 10px;
  right: 10px;
  width: 90px;
  height: 30px;
}

/* Fin nouveau restaurant */
/* Eléments principaux du site */
body {
  font-family: "roboto";
  margin: auto;
}

main {
  max-width: 1024px;
  margin: auto;
}

.header {
  padding: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
}
.header__logo h1 {
  font-family: "shrikhand";
  font-size: 3rem;
}
.header a {
  padding-right: 20px;
}
.header i {
  color: #4b4b4b;
  font-size: 1.4rem;
}
.header i:hover {
  color: #99E2D0;
}

.footer {
  max-width: 2560px;
  background: #4b4b4b;
  min-height: 120px;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}
.footer__width {
  margin: auto;
  max-width: 1024px;
  width: 100%;
  justify-content: flex-start;
}
.footer__titre {
  font-size: 0.8rem;
}
.footer__titre h1 {
  font-family: "shrikhand";
  font-weight: normal;
}
.footer__ul ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
}
.footer__ul a {
  text-decoration: none;
  color: #f2f2f2;
}
.footer__ul a:hover {
  text-decoration: underline;
}

/* Fin éléments principaux du site */
/* Section Mind */
.form__result {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 20px;
  padding: 0px 0px 40px 0px;
}
.form__result__icone {
  background: #d6d6d6;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  border-top: 5px solid #bebebe;
  padding-left: 20px;
}
.form__result__icone__search {
  border-style: none;
  background: #d6d6d6;
  font-weight: bold;
  margin-left: 20px;
  font-size: 1rem;
}
.form__result__h2 {
  padding-left: 20px;
}
.form__result__h2 h3 {
  color: #9a9a9a;
  font-weight: normal;
}
.form__result__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Fin section mind */
/* Section Nav */
.sectionNav {
  padding: 0px 20px 0px 20px;
}
.sectionNav__Ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
}
.sectionNav__Ul__H2 {
  width: 98%;
}
.sectionNav__Ul .li {
  box-shadow: 2px 2px 10px #cccccc;
  border-radius: 20px;
  height: 50px;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  width: 220px;
  margin: 10px 15px 10px 15px;
  text-decoration: none;
}
.sectionNav__Ul .li__Decimal {
  background: #9356DC;
  border-radius: 30px;
  color: white;
  position: relative;
  right: 12px;
  padding: 5px 9px 5px 9px;
  font-size: 0.8rem;
}
.sectionNav__Ul .li__Description {
  font-weight: bold;
  color: black;
  font-size: 0.8rem;
  text-align: center;
  padding-left: 10px;
}
.sectionNav__Ul .li__Icone i {
  color: #9a9a9a;
}

/* Fin section Nav */
/* Section Restaurant */
.sectionRestaurant {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.sectionRestaurant__H2 {
  width: 98%;
  padding: 0px 0px 0px 20px;
}
.sectionRestaurant__Carte {
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 2px 2px 10px #cccccc;
  border-radius: 20px;
  width: 22%;
  margin: 0px 10px 0px 10px;
}
.sectionRestaurant__Carte a {
  text-decoration: none;
}
.sectionRestaurant__Description {
  color: black;
}
.sectionRestaurant__Description p {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.sectionRestaurant__Image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

/* Fin section Restaurant */
/* Section mindMenu */
.background {
  height: 300px;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Fin section mindMenu */
/* section menu */
.sectionMenu {
  position: relative;
  bottom: 35px;
  background: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 40px 40px 40px 40px;
  padding: 20px;
}
.sectionMenu__h2 {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sectionMenu__h2 h2 {
  font-family: "shrikhand";
}
.sectionMenu .bottom {
  margin-top: 40px;
  margin-bottom: 20px;
}
.sectionMenu__article {
  display: flex;
  flex-direction: column;
  width: 28%;
  margin: 2%;
}
.sectionMenu__article__h3 h3 {
  font-weight: normal;
  margin-bottom: 5px;
}
.sectionMenu__article .underline {
  width: 40px;
  border-bottom: 4px solid #99E2D0;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.sectionMenu__article__plat {
  margin: 2%;
  background: white;
  box-shadow: 2px 2px 10px #cccccc;
  border-radius: 20px;
  height: 70px;
  width: 270px;
}
.sectionMenu__article__plat a {
  text-decoration: none;
  color: black;
  display: flex;
}
.sectionMenu__article__plat__wrap {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.sectionMenu__article__plat__h3 {
  font-size: 0.8rem;
  width: 100%;
}
.sectionMenu__article__plat__description {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Sur toutes les pages */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px/910px/500px */
@media all and (max-width: 1024px) {
  .footer {
    padding: 0px 20px 0px 20px;
  }
}
@media all and (max-width: 910px) {
  .spinner {
    zoom: 3;
    -moz-transform: translate(-50%, -50%) scale(3);
  }

  .header {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .header a {
    position: absolute;
    left: 20px;
  }

  .header__logo h1 {
    font-size: 1.8rem;
  }

  .footer {
    font-size: 0.8rem;
  }
}
@media all and (max-width: 500px) {
  .spinner {
    zoom: 2;
    -moz-transform: translate(-50%, -50%) scale(2);
  }

  .footer {
    margin-top: 0px;
  }
  .footer__ul ul {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
  }
}
/* Page accueil */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px/790px/425px */
@media all and (max-width: 1024px) {
  .form__result {
    border-radius: 0px;
  }
  .form__result__icone {
    border-radius: 0px;
  }

  .sectionRestaurant {
    width: 100%;
  }
  .sectionRestaurant__Carte {
    width: 40%;
    margin: 1.5%;
  }
}
@media all and (max-width: 790px) {
  .form__result__icone {
    padding-left: 0px;
    justify-content: center;
  }
  .form__result__h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sectionNav__Ul {
    flex-direction: column;
  }
}
@media all and (max-width: 425px) {
  .sectionRestaurant {
    flex-direction: column;
  }
  .sectionRestaurant__H2 {
    width: 93%;
  }
  .sectionRestaurant__Carte {
    width: 90%;
    height: 200px;
  }
  .sectionRestaurant__Image img {
    height: 150px;
  }
  .sectionRestaurant__Description h3 {
    font-size: 1rem;
    margin: 0px;
  }
  .sectionRestaurant__Description p {
    font-size: 0.8rem;
    margin: 0px;
  }
}
/* Sur toutes les pages menu */
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px/910px/450px */
@media all and (max-width: 1024px) {
  .sectionMenu {
    padding-bottom: 50px;
  }
}
@media all and (max-width: 910px) {
  .sectionMenu {
    flex-direction: column;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .sectionMenu__h2 {
    width: 90%;
    padding: 0px 10px 0px 10px;
  }
  .sectionMenu__article {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .sectionMenu__article__h3 {
    width: 270px;
  }

  .none {
    display: none;
  }
}
@media all and (max-width: 450px) {
  .fondAbsolute {
    background: #f2f2f2;
  }

  .header {
    background: white;
  }

  .sectionMenu {
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    padding: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
