/* Sur toutes les pages */ 
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px/910px/500px */
@media all and (max-width: 1024px){
  .footer{
    padding: 0px 20px 0px 20px;
  }
}
@media all and (max-width: 910px){
  .header{
    display: flex;
    justify-content: center;
    position: relative;
  }
  .header a{
    position: absolute;
    left: 20px;
  }
  .header__logo h1{
    font-size: 1.8rem;  
  }
  .footer{
    font-size: 0.8rem;
  }
}
@media all and (max-width: 500px){
  .lds-roller{ /* Spinner */
    left: 42%;
  }
    .footer{
      margin-top: 0px;
        &__ul ul{
          flex-direction: column;
          align-items: flex-start;
          font-size: 1rem;
      }
    }
}
/* Page accueil */ 
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px/790px/425px */
@media all and (max-width:1024px){
  .form__result{
    border-radius: 0px;
    &__icone{
      border-radius: 0px;
    }
  }
  .sectionRestaurant{
    width: 100%;
    &__Carte{
      width: 40%;
      margin: 1.5%;
    } 
  }
}
@media all and (max-width:790px){
  .form__result{
    &__icone{
      padding-left: 0px;
      justify-content: center;
    }
    &__h2{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding-left: 0px;
    }
  }
  .sectionNav__Ul{
    flex-direction: column;
  }
}
@media all and (max-width:425px){
  .lds-roller{ /* Spinner */
    left: 40%;
  }
  .sectionRestaurant{
    flex-direction: column;
    &__H2{
      width: 93%;
    }
    &__Carte{
      width: 90%;
      height: 200px;
    }
    &__Image img{
      height: 150px;
    }
    &__Description h3{
      font-size: 1rem;
      margin: 0px;
    }
    &__Description p{
      font-size: 0.8rem;
      margin: 0px;
    }
  }
}
/* Sur toutes les pages menu */ 
/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1024px/910px/450px */
@media all and (max-width:1024px){
  .sectionMenu{
    padding-bottom: 50px;
    }
}
@media all and (max-width: 910px){
  .sectionMenu{
    flex-direction: column;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    &__h2{
      width: 90%;
      padding: 0px 10px 0px 10px;
    }
      &__article{
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
          &__h3{
            width: 270px;
          }
      }
  }
  .none{
    display: none;
  }
}
@media all and (max-width: 450px){
  .background{
    height: 200px;
  }
  .fondAbsolute{
    background: $colour-background;
  }
    .header{
      background: white;
    }
    .sectionMenu{
      border-radius: 40px 40px 0px 0px;
      width: 100%;
      padding: 0px;
    }
}

