.sectionNav__Ul a:hover{
  background: $colour-secondary-veryclair;
    .li__Icone i{
      color: $colour-primary;
    }
}
/* Effet 3 petits points */
.ellips{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* Fin effet 3 petits points */ 
/* Coeur page accueil */
.coeur__Start{
  position: absolute;
  right: 0px;
  font-size: 1.2rem;
}
.coeur__end{
  position: absolute;
  right: 0px;
  font-size: 1.2rem;
  color: $colour-secondary;
  opacity: 0;
}
.coeur__end:hover{
  z-index: 1;
  opacity: 1;
  transition: 400ms 0.1s;
}
/* Fin coeur page accueil */
/* Coeur page menu */ 
.coeur__StartUn{
  position: absolute;
  right: 29px;
  font-size: 1.4rem;
}
.coeur__endDeux{
  position: absolute;
  right: 29px;
  font-size: 1.4rem;
  color: $colour-secondary;
  opacity: 0;
}
.coeur__endDeux:hover{
  z-index: 1;
  opacity: 1;
  transition: 400ms 0.1s;
}
/* Fin coeur page menu */ 
/* Apparition défilement menu */ 
.coussin1{
  animation: apparition 2s 0.4s $courbe;
}
.coussin2{
  animation: apparition 2s 0.6s $courbe;
}
.coussin3{
  animation: apparition 2s 0.8s $courbe;
}
.coussin4{
  animation: apparition 2s 1s $courbe;
}
.none{
  opacity: 0;
}
/* Fin défilement menu */ 
