/* Définition shadow */ 
@mixin carteShadowRadius{
  box-shadow: 2px 2px 10px #cccccc;
  border-radius: 20px;
}
@mixin btnShadowRadius{
  box-shadow: 10px 10px 10px #cccccc;
  border-radius: 30px;
}
/* Définition photo */
@mixin photo{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
/* Définition font-size */
@mixin font1 {
  font-size: 1rem;
}
@mixin font2{
  font-size: 0.75rem;
}

