/* Définition des couleurs */ 
$colour-primary: #9356DC;
$colour-primary-clair:#9963d1;
$colour-secondary: #FF79DA; 
$colour-secondary-clair:#f587d5;
$colour-secondary-veryclair: #fde5f6;
$colour-tertiary: #99E2D0;
$colour-background: #f2f2f2;
$colour-background-dark-dark:#bebebe;
$colour-background-dark:#d6d6d6;
$colour-background-start:-webkit-linear-gradient(280deg, $colour-secondary, $colour-primary);
$colour-background-end: -webkit-linear-gradient(280deg, $colour-secondary-clair, $colour-primary-clair);
$colour-background-footer: #4b4b4b;
$colour-icone: #9a9a9a;
/* Fin définition des couleurs */ 
/* Définition shadow */ 
@mixin carteShadowRadius{
  box-shadow: 2px 2px 10px #cccccc;
  border-radius: 20px;
}
@mixin btnShadowRadius{
  box-shadow: 10px 10px 10px #cccccc;
  border-radius: 30px;
}
/* Fin définition shadow */
/* Définition effet apparition menu */
@keyframes apparition{
  from{
    opacity: 0;
    transform: translateY(40px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
$courbe: cubic-bezier(0.39,0.575,0.28,0.995);
/* Fin définition effet apparition menu */
/* Définition effet déplacement check */ 
@keyframes deplacement{
  from{
    opacity: 0;
    transform: translateX(60px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
/* Fin définition déplacement check */
/*Définition rotation check */
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/* Effet 3 petits points */
.ellips{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/* Fin effet 3 petits points */ 
/* Coeur page accueil */
.coeur__Start{
  position: absolute;
  right: 0px;
  font-size: 1.2rem;
}
.coeur__Start:hover{
  display: none;
}
.coeur__end{
  font-size: 1.2rem;
  color: white;
}
.coeur__end:hover{
  z-index: 1;
  color: $colour-secondary;
  transition: 350ms;
}
/* Fin coeur page accueil */
/* Coeur page menu */ 
.coeur__StartUn{
  position: absolute;
  right: 29px;
  font-size: 1.4rem;
}
.coeur__StartUn:hover{
  display: none;
}
.coeur__endDeux{
  font-size: 1.4rem;
  color: $colour-background;
}
.coeur__endDeux:hover{
  z-index: 1;
  color: $colour-secondary;
  transition: 350ms;
}


.spinner {
  width: 44px;
  height: 44px;
  border: 8px solid $colour-tertiary;
  border-radius: 30px 0 0 0;
  animation: 2s waiting 1s forwards;
  transition: border-radius;
  position: absolute;
  zoom: 3;
  top: 50px;
  left: 41%;
}
.spinner:after {
  content: "Loading";
  color: $colour-tertiary;
  position: absolute;
  bottom: -34px;
  left: -8px;
  width: 60px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

@keyframes waiting {
  0% {
    border-radius: 30px 0 0 0;
  }
  25% {
    border-radius: 0 30px 0 0;
  }
  50% {
    border-radius: 0 0 30px 0;
  }
  75% {
    border-radius: 0 0 0 30px;
  }
  100%{
    opacity: 0;
  }
}