/* Définition des couleurs */ 
$colour-primary: #9356DC;
$colour-primary-clair:#9963d1;
$colour-secondary: #FF79DA; 
$colour-secondary-clair:#f587d5;
$colour-secondary-veryclair: #fde5f6;
$colour-tertiary: #99E2D0;
$colour-background: #f2f2f2;
$colour-background-dark-dark:#bebebe;
$colour-background-dark:#d6d6d6;
$colour-background-start:-webkit-linear-gradient(280deg, $colour-secondary, $colour-primary);
$colour-background-end: -webkit-linear-gradient(280deg, $colour-secondary-clair, $colour-primary-clair);
$colour-background-footer: #4b4b4b;
$colour-icone: #9a9a9a;
/* Fin définition des couleurs */ 
/* Définition shadow */ 
@mixin carteShadowRadius{
  box-shadow: 2px 2px 10px #cccccc;
  border-radius: 20px;
}
@mixin btnShadowRadius{
  box-shadow: 10px 10px 10px #cccccc;
  border-radius: 30px;
}
/* Fin définition shadow */
/* Définition effet apparition menu */
@keyframes apparition{
  from{
    opacity: 0;
    transform: translateY(40px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
$courbe: cubic-bezier(0.39,0.575,0.28,0.995);
/* Fin définition effet apparition menu */
/* Définition effet déplacement check */ 
@keyframes deplacement{
  from{
    opacity: 0;
    transform: translateX(60px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
/* Fin définition déplacement check */
/*Définition rotation check */
@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/* Effet 3 petits points */
.ellips{
  text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
}
/* Fin effet 3 petits points */ 
.coeur__Start{
  position: absolute;
  right: 0px;
  font-size: 1.2rem;
}
.coeur__Start:hover{
  display: none;
  z-index: -1;
}
.coeur__end{
  color: white;
  font-size: 1.2rem;
}
.coeur__end:hover{
  color: $colour-secondary;
  z-index: 1;
  transition: 350ms;
}

.coeur__StartUn{
  position: absolute;
  right: 29px;
  font-size: 1.4rem;
}
.coeur__StartUn:hover{
  display: none;
  z-index: -1;
}
.coeur__endDeux{
  color: white;
  font-size: 1.4rem;
}
.coeur__endDeux:hover{
  color: $colour-secondary;
  z-index: 1;
  transition: 350ms;
}